<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Dropbox</string>
			<key>Key</key>
			<string>dropbox_group_pref</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Connect to Dropbox</string>
			<key>Key</key>
			<string>dropbox_link_pref</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Account</string>
			<key>Key</key>
			<string>dropbox_account_pref</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>audit_data_group_pref</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Audit Data</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Save to DropBox</string>
			<key>Key</key>
			<string>audit_data_save_pref</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>audit_data_save_location_pref</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Location </string>
			<key>DefaultValue</key>
			<string>/Gemini/Energy/</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
